{% extends 'base.html' %}
{% block title %}Категория: {{ category.name }} — Детали{% endblock %}

{% block content %}
<div style="background-color: #121215; border: 1px solid #1f1f24; padding: 35px; border-radius: 3px;">
    <h2>Категория: {{ category.name }}</h2>
    <hr style="border: 0; border-top: 1px solid #1f1f24; margin: 20px 0;">
    <p style="font-size: 16px; color: #a9a9b0; margin-bottom: 30px;">{{ category.description|default:"Дополнительное описание для этой категории не составлено." }}</p>
    
    <div style="display: flex; gap: 10px; flex-wrap: wrap;">
        {% if clearance_level >= 4 %}
            <a href="{% url 'category_update' pk=category.pk %}" class="btn btn-secondary">Редактировать</a>
        {% endif %}
        {% if clearance_level >= 8 %}
            <a href="{% url 'category_delete' pk=category.pk %}" class="btn">Удалить категорию</a>
        {% endif %}
        <a href="{% url 'category_list' %}" class="btn btn-secondary">Назад к категориям</a>
    </div>
</div>
{% endblock %}